/*Question 3*/

* {
  box-sizing: border-box;
}
html {
  font-family: Georgia;
  background-color: #FFCAD4;
}
.subHeading {
  text-decoration: underline;
}



.container{
	margin-right: auto;
	margin-left:auto;
	border: 1px dashed #000;
	width: 1170px;
	height: 200px;
	background: #EFF5FB;
  padding: 10px;
  border: dashed 2px maroon;
}

.label{
	font-weight: bold;
}

.text-input{
	padding: 5px 5px;
	border-radius: 3px;
	border: 1px solid #999;
	color: #333;
	background-color: #fff;
}

input[type="radio"]{
	margin-top: 4px;
	cursor: pointer;
}

.submit-button{
	cursor: pointer;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #999;
}

.box-rounded-soft {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

 .box-rounded-hard {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }


  a.button-primary {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-image: -moz-linear-gradient(top, #f88017, #b35010);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f88017), to(#b35010));
  border: #566c11 solid 1px;
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }
    a.button-primary span {
    color: white; }

a.button-primary:hover {
  background-image: -moz-linear-gradient(top, #f88017, #c87024);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f88017), to(#c87024)); }

a.button-primary span {
  font-weight: bold; }

  a.button-secondary {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-image: -moz-linear-gradient(top, #cbd486, #96a336);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cbd486), to(#96a336));
  border: #566c11 solid 1px;
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: 1px;
  padding-bottom: 1px; }
   a.button-secondary span {
    font: 10px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: white; }

    a.button-secondary:hover {
  background-image: -moz-linear-gradient(top, #d8e091, #96a336);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8e091), to(#96a336)); }


  div.container-colored-secondary-title {
  height: 16px;
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  background-image: -moz-linear-gradient(top, #bbb0a3, #695e49);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb0a3), to(#695e49)); }
  div.container-colored-secondary-title h2 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline;
    float: left;
    margin: 0px 6px 0px 6px;
    color: white; }
  div.container-colored-secondary-title p.righttext {
    display: inline;
    float: right;
    margin: 0px 6px 0px 6px; }
    div.container-colored-secondary-title p.righttext a {
      color: white; }
    div.container-colored-secondary-title p.righttext a:hover {
      color: white; }



div.form_section {
  margin-bottom: 15px; }
  div.form_section h3 {
    font: bold 14px/1.2 "Trebuchet MS";
    line-height: 21px;
    margin: 0px; }
  div.form_section span.form_row {
    display: block;
    margin-bottom: 4px; }
    div.form_section span.form_row span.row_label {
      display: inline-block;
      width: 60px; }
    div.form_section span.form_row span.field {
      display: inline-block; }
      div.form_section span.form_row span.field span.label {
        font: 10px Tahoma, Geneva, sans-serif;
        color: #666666;
        display: block; }



div.container-neutral {
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fbf9fa;
  border: #cbcbcb 1px solid;
  margin: 0px;
  margin-bottom: 10px; }
  div.container-neutral h2 {
    font: bold 20px "Trebuchet MS", sans-serif;
    text-decoration: none;
    display: inline;
    color: #424242; }
  div.container-neutral div.inner {
    padding: 5px;
    margin-bottom: 10px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #d9d9d9 1px solid;
    background-color: white;
    color: black;
    margin-top: 5px; }
    div.container-neutral div.inner h3 {
      font-weight: normal;
      padding: 0px;
      margin: 0px 0px 5px 0px; }

/* Widget 2 - has a gradient title bar and smaller title text
 */
div.container-colored-primary-title {
  height: 16px;
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  background-image: -moz-linear-gradient(top, #96a336, #566c11);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#96a336), to(#566c11)); }
  div.container-colored-primary-title h2 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline;
    float: left;
    margin: 0px 6px 0px 6px;
    color: white; }
  div.container-colored-primary-title p.righttext {
    display: inline;
    float: right;
    margin: 0px 6px 0px 6px; }
    div.container-colored-primary-title p.righttext a {
      color: white; }
    div.container-colored-primary-title p.righttext a:hover {
      color: white; }

div.container-colored-secondary-title {
  height: 16px;
  padding: 5px;
  margin-bottom: 10px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  background-image: -moz-linear-gradient(top, #bbb0a3, #695e49);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb0a3), to(#695e49)); }
  div.container-colored-secondary-title h2 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline;
    float: left;
    margin: 0px 6px 0px 6px;
    color: white; }
  div.container-colored-secondary-title p.righttext {
    display: inline;
    float: right;
    margin: 0px 6px 0px 6px; }
    div.container-colored-secondary-title p.righttext a {
      color: white; }
    div.container-colored-secondary-title p.righttext a:hover {
      color: white; }

div.container-colored-primary-bottom {
  padding: 5px;
  margin-bottom: 10px;
  border: #566c11 1px solid;
  background-image: -moz-linear-gradient(top, white, #e0e0e0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e0e0e0)); }
  div.container-colored-primary-bottom p {
    margin: 0px;
    padding: 10px 0px 15px 0px; }
  div.container-colored-primary-bottom div {
    padding: 5px; }

div.container-colored-secondary-bottom {
  padding: 5px;
  margin-bottom: 10px;
  border: #695e49 1px solid;
  background-image: -moz-linear-gradient(top, white, #e0e0e0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e0e0e0)); }
  div.container-colored-secondary-bottom p {
    margin: 0px;
    padding: 10px 0px 15px 0px; }
  div.container-colored-secondary-bottom div {
    padding: 5px; }

div.container-colored-primary-inner {
  background-color: white;
  border: #96a336 1px solid;
  color: #333333; }

div.container-colored-secondary-inner {
  background-color: white;
  border: #bbb0a3 1px solid;
  color: #333333; }