// -----------------------------------------------------------------------------
// This file contains all styles related to the body of the site/application.
// -----------------------------------------------------------------------------

.l-container {
  width: 960px;
  margin: 0 auto;
  clear: both;
}

.l-half{
  width: 50%;
  float: left;
}

.l-whole{
  width: 100%;
  text-align: center;
}
