// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.c-footer{
  padding: 5px;
  background: $dark-grey;
  overflow:auto;
  color: #ddd;
  .c-footer__copyright{
    float:left;
  }
  .c-footer__social{
    float:right;
    ul{
      margin:0;
      list-style-type: none;
      li{
        display: inline;
        padding: 0 5px;
      }
    }
  }
}
