// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.c-header{
  padding: 5px;
  background: $mid-grey;
  overflow:auto;
  .c-header__logo{
    display: inline-block;
    float:left;
    h2{
      margin:0;
    }
  }
  .c-header__navigation{
    display: inline-block;
    float:right;
  }
}
