/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/base/_base.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

/* line 7, ../sass/base/_base.scss */
body {
  color: #2B2D42;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

/* line 1, ../sass/components/_fullwidth-tabs.scss */
.fullwidth-tabs {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
}
/* line 6, ../sass/components/_fullwidth-tabs.scss */
.fullwidth-tabs__tab__input {
  display: none;
}
/* line 8, ../sass/components/_fullwidth-tabs.scss */
.fullwidth-tabs__tab__input:checked ~ .fullwidth-tabs__tab__label {
  color: #D90429;
  font-weight: 600;
}
/* line 12, ../sass/components/_fullwidth-tabs.scss */
.fullwidth-tabs__tab__input:checked ~ .fullwidth-tabs__tab__content {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}
/* line 20, ../sass/components/_fullwidth-tabs.scss */
.fullwidth-tabs__tab__label {
  margin: 0 5px;
  padding: 15px 50px;
}
/* line 23, ../sass/components/_fullwidth-tabs.scss */
.fullwidth-tabs__tab__label:hover {
  cursor: pointer;
}
/* line 27, ../sass/components/_fullwidth-tabs.scss */
.fullwidth-tabs__tab__content {
  display: none;
}

/* line 1, ../sass/components/_json-zone.scss */
.json-zone {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 100%;
}
/* line 5, ../sass/components/_json-zone.scss */
.json-zone__content {
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px;
  width: 80%;
  height: 400px;
  border: 1px solid #2B2D42;
  background-color: #EDF2F4;
}
/* line 11, ../sass/components/_json-zone.scss */
.json-zone__content:focus {
  outline: none;
  border: 1px solid #D90429;
}
/* line 16, ../sass/components/_json-zone.scss */
.json-zone__actions {
  width: 20%;
  margin-left: 5px;
}
/* line 19, ../sass/components/_json-zone.scss */
.json-zone__actions__button {
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px;
  width: 100%;
  display: block;
  padding: 10px 5px;
  border: 1px solid #2B2D42;
  margin-bottom: 5px;
  background-color: #EDF2F4;
  font-size: 15px;
}
/* line 28, ../sass/components/_json-zone.scss */
.json-zone__actions__button:hover {
  background: #2B2D42;
  color: #EDF2F4;
  cursor: pointer;
}

/* line 1, ../sass/base/_helpers.scss */
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  width: 1180px;
}
@media (max-width: 1180px) {
  /* line 1, ../sass/base/_helpers.scss */
  .container {
    width: 100%;
  }
}

/* line 1, ../sass/layout/_header.scss */
.header {
  overflow: hidden;
  *zoom: 1;
  padding: 20px 0;
}
/* line 4, ../sass/layout/_header.scss */
.header__logo {
  float: left;
}
/* line 6, ../sass/layout/_header.scss */
.header__logo .header__logo-text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
/* line 11, ../sass/layout/_header.scss */
.header__menu {
  float: right;
}
/* line 13, ../sass/layout/_header.scss */
.header__menu .header__menu-item {
  color: #8D99AE;
  padding-left: 15px;
  font-size: 20px;
}
/* line 17, ../sass/layout/_header.scss */
.header__menu .header__menu-item:hover {
  color: #EF233C;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 4, ../sass/layout/_footer.scss */
.footer__copyright {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/layout/_body.scss */
.main-content {
  margin: 60px 0;
  height: 75%;
}
