#top h2{
	background-color: red;
	color:#fff;
	width:800px;
	height: 100px;
}

#top > div{
	border: 2px dotted blue;
	padding: 10px;
	margin-bottom: 50px;
	font-size: 20px;
	text-align:center;
}

#bottom h5{
	background-color: grey;
	color:#fff;
	width: 800px;
	height: 50px;
}

section.ironman{
	width: 500px;
	height: 500px;
	background-color: #FFCCCC;
	margin: 0 100px
}

.iron-details{
	text-align: center;
	color: #fff;
	background-color: red;
}