.formatHeader{
	border: 2px solid black;
	width: 500px;
	height: 100px;
	font-variant: small-caps;
	font-weight:bold;
	text-align: center;
	background-color: #418AF8;
	color: #53585F;
	text-decoration: underline;
}

#clockNavBar{
	width: 60%;
	height: 60px;
	background-color: #FAF562;
	border: 1px solid black;
}

#clockNavBar ul{
	padding: 10px;
}

#clockNavBar ul li{
	display: inline;
}

#clockNavBar ul li a:hover{
	background-color: black;
	color: #fff;
	text-decoration: none;
}

#analogueClock{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#analogueClock th{
	font-family: arial;
	font-size: 200%;
	text-align: center;
	vertical-align: middle;
	background-color: violet;
}

#two, #four, #six, #eight, #ten, #twelve{
	background-color: orange;
}

#one, #three, #five, #seven, #nine, #eleven{
	background-color: aqua;
}

#analogueClock td{
	width: 60px;
	height: 60px;
	/*padding: 15px;*/
}

#analogueClock tr{
	background-color: grey;
}

#twelve{
	text-align: center;
	vertical-align: bottom;
}

#eleven{
	text-align:center;
	vertical-align: middle;
}

#ten{
	text-align:center;
	vertical-align: middle;
}

#nine{
	text-align: right;
	vertical-align: middle;
}

#eight{
	text-align: center;
	vertical-align: middle;
}

#seven{
	text-align: center;
	vertical-align: middle;
}

#six{
	text-align: center;
	vertical-align: top;
}

#five{
	text-align: center;
	vertical-align: middle;
}

#four{
	text-align: center;
	vertical-align: middle;
}

#three{
	text-align: left;
	vertical-align: middle;
}

#two{
	text-align: center;
	vertical-align: middle;
}

#one{
	text-align: center;
	vertical-align: middle;
}

#analogueClock td#center{
	background-color: red;
}