/*utility Styles*/

*{
	box-sizing: border-box;
}

.container{
	width:1170px;
	margin-left: auto;
	margin-right: auto;
}

/*End utility styles*/

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding: 0;
}


body{
	margin:0;
	font-family: 'Roboto', serif;
}



/*Header styles*/

header.top-menu{
	background: linear-gradient(to right, #4686E6, #B55894);
	height: 60px;
	border-bottom: 5px solid #D273B0;
}


header nav section{
	display: inline-block;
	width: 33.33%;
	float: left;
	text-align: center;
	line-height:60px;
}

header section.menu-my-id h3{
	color: #fff;
	vertical-align: middle;
	font-weight: 500;
}

header section.menu-main ul{
	margin:0;
	padding:0;
}

header section.menu-main ul li{
	display: inline;
}

header section.menu-main ul li a{
	color: #fff;
	font-weight:300;
	padding: 10px 10px 16px 10px;
	text-decoration: none;
	cursor: pointer;
}

header section.menu-main ul li a:hover{
	background-color: #D273B0;
	color:#fff;
}

header section.menu-search{
	position:relative;
}

header section.menu-search label{
	font-size:10px;
	color:#fff;
	position: absolute;
	top:-16px;
}

header section.menu-search input{
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	line-height: 13px;
	padding:5px;
	font-size:13px;
}

header section.menu-search button{
	background-color: transparent;
	border:1px solid #fff;
	color:#ddd;
	padding:5px;
	border-radius:3px;
	margin-left: 5px;
	cursor:pointer;
}

header section.menu-search button:hover{
	background-color: #fff;
	color: #D273B0;
}


/*End header styles

/*Main content styles*/

section.main-content header{
	padding-top:70px;
	text-align:center;
}

section.main-content header h1{
	font-size: 80px;
	color: #ccc;
	font-weight:300;
}

section.main-content header p{
	padding: 0 100px;
	color:#444;
	text-align: center;
}

/*tab styles*/
section.projects{
	margin-top:50px;
	margin-bottom: 110px;
}

.tabComponent{
	position: relative;
	/*overflow: hidden;*/
} 

.tabComponent .tab input[type="radio"]{
	display: none;
}

.tabComponent .tab label{
	display: inline-block;
	width:25%;
	padding: 20px;
	color:#444;
}

.tabComponent .tab label:hover{
	cursor: pointer;
	color: #E05FB0;
}

.tabComponent .tab .tabContent{
	display: none;

}

.tabComponent .tab input[type="radio"]:checked ~ label{
	background-color: #4C4A4A;
	color:#E05FB0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.tabComponent .tab input[type="radio"]:checked ~ label ~ .tabContent{
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #4C4A4A;
	width: 75%;
	height: 500px;
	padding: 20px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: none;
}

/*End tab styles*/

/*carousel styles*/

.carouselComponent .carouselItem input[type="radio"]{
	display: none;
}

.carouselComponent .carouselItem label{
	display: none;
}

.carouselComponent .carouselItem input[type="radio"]:checked ~ label.previous,
.carouselComponent .carouselItem input[type="radio"]:checked ~ label.next{
	display: inline-block;
	width:6%;
	border-radius: 5px;
	color:#fff;
	background-color: rgba(0,0,0,0.5);
}

.carouselComponent .carouselItem .content{
	display: none;
}

.carouselComponent .carouselItem input[type="radio"]:checked ~ .content{
	display: block;
	margin-left:auto;
	margin-right:auto;


}

.carouselComponent .carouselItem label.previous{
	float:left;
	text-align:left;
}

.carouselComponent .carouselItem label.next{
	float:right;
	text-align:right;
}
/*End carousel styles*/

/*End Main Content Styles*/

/*Footer Styles*/

footer{
	height: 40px;
	line-height: 40px;
	/*background: linear-gradient(to right, #B55894, #4686E6);*/
	background-color: #333;
	color: #fff;
}

footer p{
	text-align:center;
	vertical-align: middle;
	margin:0;
}

/*End Footer Styles