/* Base styles*/

html, body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Puzzle Specific Styles*/
.puzzle{
  &__container{
    background-image: url("../assets/images/_Puzzle_solved.png");
    min-width: 900px;
    min-height: 550px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
   
  }
  
}


//.jigSawWrapper{
//  background-color: #090D18;
//  height: 100vh;
//  width: 100vw;
//  display: flex;
//  align-items: center;
//}
//
//.puzzle-container{
//  margin: 0 auto;
//}
//
//.jigsaw{
//  position: relative;
//  width: 768px;
//  height: 479px;
//  background-image: url("../assets/images/_Puzzle_solved.png");
//  background-repeat: no-repeat;
//  background-size:cover;
//}
//
//.puzzle-pieces{
//
//  &__piece{
//    display:inline-block;
//    width: 90px;
//
//  }
//  &__piece-img{
//    width: 100%;
//  }
//}