/* Base styles*/

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #090D18;
}

/*Puzzle Specific Styles*/
.puzzle{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 600px;
  /*background-image: url("../assets/images/_Puzzle_solved.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;*/
  &__table{
    width: 100%;
   color: #fff;
    text-align:center;
  }

  &__row{
    height:40px;
    /*margin:20px;*/
  }

  &__col{
    text-align: center;
  }
}


.thin{
  width: 20px;
}
