.bizCardWrapper{
	
	height: 800px;
	background-color: #F17563;
}


.bizCardWrapper input[type="checkbox"]:checked + .bizCard > .front{
	transform: rotateX(180deg);
	transition: 3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	z-index:99;
	perspective: 1000;
}

.bizCardWrapper input[type="checkbox"]:checked + .bizCard > .back{
	transform: rotateX(180deg);
	transition: 3s;
	transform-style: preserve-3d;
	z-index: 100;
	
}

.bizCard{
	position: relative;
}

.bizCard .front{
	height: 200px;
	width: 200px;
	background-color: #fff;
	position: absolute;
	top:0;
	left: 0;
	z-index: 100;
}

.bizCard .back{

	height: 200px;
	width: 200px;
	background-color: #333;
	position: absolute;
	top:0;
	left: 0;
	z-index: 99;

}

/*.card {
	display: block;
}

.bizCardWrapper{
	background-color: #F17563;
	height:500px;
	
}

.card .card-face div.front{
	width: 400px;
	height:200px;
	background-color: #fff;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}

.card .card-face div.back{
	width: 400px;
	height:200px;
	background-color: #333;
	color:#fff;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}

label div.card .card-face label{
	display: none;
}



label div.card .card-face input[type="radio"]{
	display: none;
}

label div.card .card-face input[type="radio"] ~ label{
	display: block;
	transform: rotateX(180deg);
	transition: 1s;
}

label div.card .card-face input[type="radio"]:checked ~ label > div.front:hover{
	box-shadow: 0 12px 5px -5px #333;
	transform: rotateX(10deg);
	transition: 0.5s;
	cursor: pointer;
}

label div.card .card-face input[type="radio"]:checked ~ label > div.back:hover{
	box-shadow: 0px -19px 27px -5px rgba(255,255,255,1);
	transform: rotateX(-20deg);
	transition: 0.5s;
	cursor: pointer;
}*/

