.menu {
  background-color: #b5de95;
  font-family: verdana;
}

.menu li {
  display: inline-block;
  position: relative;
  font-size:10pt;
  border:2px solid white;
}

.menu li.dropdown:hover > .submenu {
  display: block;
}

.menu li a {
  background: #ff0000;
  color: white;
  display: block;
  padding: 12px 8px;
  text-decoration: none;
}

.menu li a:hover {
  background: #0000ff;
}

.menu .submenu {
  display: none;
}

.submenu {
  display: block;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 200px;
}

.submenu li {
  display: block;
  border:2px solid #ffff00;
}

.submenu li a {
  background: #999;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 8px 6px;
}

.menu .submenu .submenu {
  left: 200px;
  position: absolute;
  top: 0px;
}