header
{
  text-align:center;
  margin: 0px auto;
  background: #D61F57;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 0.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  width:50%;
}

section
{
  background: #EFF5FB;
  text-align:center;
  padding: 10px;
  border: dashed 2px maroon;
  font-family: 'Roboto', sans-serif;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

table{
  margin: 0px auto;
}

canvas{
  border: 1px solid black;
}

table{
  border: 1px solid #999;
  border-collapse: collapse;
  text-align: left;
}

td{
  padding: 20px;
  border: 1px solid #999;
  border-collapse: collapse;
  background-color: #fff;
}

th{
  padding: 20px;
  border: 1px solid #999;
  border-collapse: collapse;
  background-color: #eee
}

input[type="text"], input[type="date"], input[type="email"], input[type="tel"], input[type="password"]{
  padding: 10px;
  border: 1px solid #999;
  border-radius: 2px;
}

input[type="submit"]{
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #eee;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

fieldset{
  margin:10px;
}

.form-input{

  display: block;
  padding: 10px;
}