.top-element {
    /* Primary color for branding */
    border: 1px solid #999999;
    margin: 1rem;
    .title{
        color: #3F3F3F;
        font-size: 2rem;
        font-weight: bold;
        span{/* Used as subtitle */
            border-bottom: 1px solid #999999;
            color: #262626;
            font-size: 1rem;
            font-weight: normal;
        }
    }
}